<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1><a href="/" >Mission to Mars</a></h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>
 </div>
    
    <!-- Latest Mars News -->
    <div class="container" style="width:100%">
        <div class="row">
            <div class="col-md-12">
                <h2>Latest Mars News</h2>
                <h3>{{ mars_data.news_title }}</h3>
                <p>{{mars_data.news_para }}</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="panel">
                <div class="panel-body">
                    <h2>Featured Mars Image</h2>
                    <img src=  {{ mars_data.featured_image_url }} alt="" class="featured">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel border">
                <div class="panel-body">
                    <h2>Current Weather on Mars</h2>
                    <p>{{ mars_data.mars_weather }}</p>
                </div>
            </div>
            <div class="panel border">
                <div class="panel-body">
                    {% block content %}
                    <h2>Mars Facts</h2>
                    {{ mars_data.mars_facts | safe}}
                    {% endblock %}
                </div>
            </div>
            <div class="col-sm-1"></div>
        </div>
        
    </div>
    
        <h2 class="hemispheres">Mars Hemispheres</h2>
    <div class="row" style="padding-bottom:20px">
        <div class="col-sm-1"></div>
        <div class="col-sm-5 border">
            <img src={{ mars_data.hemisphere_img_urls[0]["img_url"] }} alt="" style="width:100%">
            <p class="caption">{{ mars_data.hemisphere_img_urls[0]["title"] }}</p>
        </div>
        <div class="col-sm-5 border" >
            <img src={{ mars_data.hemisphere_img_urls[1]["img_url"] }} alt="" style="width:100%">
            <p class="caption">{{ mars_data.hemisphere_img_urls[1]["title"] }}</p>
        </div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-5 border" >
            <img src={{ mars_data.hemisphere_img_urls[2]["img_url"] }} alt="" style="width:100%">
            <p class="caption">{{ mars_data.hemisphere_img_urls[2]["title"] }}</p>
        </div>
        <div class="col-sm-5 border" >
            <img src={{ mars_data.hemisphere_img_urls[3]["img_url"] }} alt="" style="width:100%">
            <p class="caption">{{ mars_data.hemisphere_img_urls[3]["title"] }}</p>
        </div>
        <div class="col-sm-1"></div>
    </div>
    
    
    
    
</body>

</html>
